<nav class="navbar filetree-navbar">
    <div class="navbar-inner">
        <button class="mobile-menu-btn" @click="showFilesMobile=!showFilesMobile" aria-label="Toggle menu">
            <i icon-name="menu"></i>
        </button>
        {% for imp in dynamics.filetree.beforeTitle %}
            {% include imp %}
        {% endfor %}
        <a href="/" style="text-decoration: none;" class="site-title">
            <h1>{{meta.siteName}}</h1>
        </a>
        {% for imp in dynamics.filetree.afterTitle %}
            {% include imp %}
        {% endfor %}
    </div>
    
    {% if settings.dgEnableSearch === true%}
        <div class="navbar-search">
            {% include "components/searchButton.njk" %}
        </div>
    {%endif%}
</nav>