<div class="search-button align-icon" onclick="toggleSearch()" role="button" tabindex="0" aria-keyshortcuts="Control+K">
    <span class="search-icon">
        <i icon-name="search" ></i>
    </span>
    <span class="search-text">
        <span class="search-label">Search</span>
        <span class="search-keys">
            Ctrl + K
        </span>
    </span>
</div>
