---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {%- for page in collections.all %}
        {%- if page.url != '/404.html' and page.url != '/404' and page.url != '/404/' and page.url != '/graph.json' and page.url != '/searchIndex.json' and page.url != '/sitemap.xml' and page.url != '/robots.txt' and page.url != '/feed.xml' and page.url != '/siteStats.json' and page.data.seoNoindex != true %}
        <url>
            <loc>{{ meta.siteBaseUrl }}{{ page.url | url }}</loc>
            <lastmod>{{ page.date | dateToZulu }}</lastmod>
        </url>
        {%- endif %}
    {%- endfor %}
</urlset>
